{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flash Fireworks - Banners</title>
    <link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
</head>
<body>
{% for banner in banners %}
    <div style="background-image: url('{{ banner.image.url }}');">
        <div class="banner-text">
            <h1>{{ banner.title }}</h1>
            <p>{{ banner.subtitle }}</p>
        </div>
    </div>
    {% empty %}
    <p>No banners found.</p>
    {% endfor %}
</body>
</html>
{% endblock content %}