 {% load static %}
<!doctype html>
<html lang="en" x-data :dir="$store.appStore.dir" x-cloak>
<head>

    <meta charset="utf-8" />
    <title>FlashFire Works  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="" name="description" />
    <meta content="The4" name="author" />
    <!-- App favicon -->
   <link rel="shortcut icon" href="{% static 'assets/images/k_favicon_32x.png' %}">

    <link href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/flickity/flickity.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/jarallax/jarallax.min.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:300,300i,400,400i,500,500i&display=swap" rel="stylesheet">

<!-- Bootstrap Css -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

<!-- Icons Css -->
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/icons/font-icon.css' %}" rel="stylesheet" type="text/css" />

<!-- App Css -->
<link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body class="wrapper_cus">
<!-- Navbar -->
  {% include 'partials/navbar.html' %}
{% block content %}{% endblock content %}
{% include 'partials/footer.html' %}

    <!-- custome header -->
    <div class="header-offcanvas offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <!-- close icon -->
        <a href="#!" class="btn offcanvas-close text-reset" data-bs-dismiss="offcanvas">
            <i class="las la-times"></i>
        </a>
        <div class="offcanvas-body p-0">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item " role="presentation">
                    <button class="nav-link active text-uppercase" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="true">Menu</button>
                </li>
                <li class="nav-item col-6 p-0" role="presentation">
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab" tabindex="0">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item rounded-0">
                                        <div id="collapse-05" class="accordion-collapse collapse" aria-labelledby="heading-05" data-bs-parent="#accordi-05xample">


                                </div>
                            </div>
                        </div>


                            </div>
                        </div>
                       <div class="pill-item col-6 p-0" role="presentation">
    <a href="{% url 'home' %}" class="nav-link d-block text-center">Home</a>

</div>

<div class="pill-item col-6 p-0" role="presentation">
    <a href="{% url 'product' %}" class="nav-link d-block text-center">Product</a>
</div>

<div class="pill-item col-6 p-0" role="presentation">
    <a href="{% url 'about' %}" class="nav-link d-block text-center">About</a>
</div>

<div class="pill-item col-6 p-0" role="presentation">
    <a href="{% url 'contact' %}" class="nav-link d-block text-center">Contact</a>
</div>

<div class="pill-item col-12 p-0 mt-3" role="presentation">
    <ul class="list-unstyled need-help mb-0 mt-2">
        <li>
            <a href="#!" class="d-flex mt-2 align-items-center">
                <i class="pegk pe-7s-home me-2"></i>
                <p class="mb-0">Flash Traders<br>Near R.C.M Hospital,Tripunithura</p>
            </a>
        </li>

        <li>
            <a href="mailto:claue@domain.com" class="d-flex mt-2 align-items-center">
                <i class="pegk pe-7s-mail fwb me-2"></i>
                <p class="mb-0">fireworksflash@gmail.com</p>
            </a>
        </li>

       <li>
            <a href="tel:+0123456789" class="d-flex mt-2 align-items-center">
                <i class="pegk pe-7s-call me-1"></i>
                <p class="mb-0">9645557676</p>
            </a>
        </li>

    </ul>
</div>




            </div>
        </div>
    <!--search offcanavas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="searchOffcanvas" aria-labelledby="searchOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title fs-16 text-uppercase" id="searchOffcanvasLabel">Search Out Site</h5>
            <button type="button" class="btn-close btn-close-none" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close pegk"></i></button>
        </div>
        <div class="px-3 py-4">
            <div>
                <form action="#!">
                    <select class="form-select rounded-pill mb-3">
                        <option value="*">All Categories</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Bag">Bag</option>
                        <option value="Camera">Camera</option>
                        <option value="Decor">Decor</option>
                        <option value="Earphones">Earphones</option>
                        <option value="Electric">Electric</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Headphone">Headphone</option>
                        <option value="Men">Men</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Speaker">Speaker</option>
                        <option value="Watch">Watch</option>
                        <option value="Women">Women</option>
                    </select>
                    <div class="search-box position-relative">
                        <input type="text" class="form-control rounded-pill" id="exampleFormControlsearch2" placeholder="Search for products">
                        <button type="submit" class="btn"><i class="iccl iccl-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-3 border-bottom border-top shadow-2xl">
            <h6 class="mb-0 fw-medium">Need some inspiration?</h6>
        </div>
        <div class="offcanvas-body">
            <div class="row mb-3">
                <div class="col-4">
                    <a href="#!"><img src="assets/images/mini-cart/product-01.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <h6 class="mb-2"><a href="product-detail-layout-01.html" class="product-title">sunlight bell solar
                            lamp</a></h6>
                    <p class="mb-0 fs-14 text-muted">$30.00</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pe-0">
                    <a href="#!"><img src="assets/images/mini-cart/product-02.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <h6 class="mb-2"><a href="product-detail-layout-01.html" class="product-title">cru thermos jug</a></h6>
                    <p class="mb-0 fs-14 text-muted d-flex align-items-center gap-2">
                        <del>$60.00</del>
                        <span class="text-danger">$40.00</span>
                        <span class="badge bg-danger rounded-0">-25%</span>
                    </p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pe-0">
                    <a href="#!"><img src="assets/images/mini-cart/product-03.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <h6 class="mb-2"><a href="product-detail-layout-01.html" class="product-title">brush set small</a></h6>
                    <p class="mb-0 fs-14 text-muted">$65.00</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pe-0">
                    <a href="#!"><img src="assets/images/mini-cart/product-04.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <h6 class="mb-2"><a href="product-detail-layout-05.html" class="product-title">stripe oilcloth</a></h6>
                    <p class="mb-0 fs-14 text-muted">$35.00</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pe-0">
                    <a href="#!"><img src="assets/images/mini-cart/product-05.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-8">
                    <h6 class="mb-2"><a href="product-detail-layout-05.html" class="product-title">picto wall clock</a></h6>
                    <p class="mb-0 fs-14 text-muted">$15.00</p>
                </div>
            </div>
        </div>
        <div class="py-4 border-top mx-4">
            <a href="#" class="detail_link fs-14 fw-semibold">View All <i class="las la-arrow-right fs__18"></i></a>
        </div>
    </div>
    <!--account offcanavas-->


    <div class="offcanvas offcanvas-end" tabindex="-1" id="filterOffcanvas" aria-labelledby="shoppingCartnvasLabel">
        <div class="offcanvas-header bg-black p-3">
            <h5 class="offcanvas-title text-white text-uppercase" id="shoppingCartnvasLabel">Filter</h5>
            <button type="button" class="btn-close text-white btn-close-none" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close text-white pegk"></i></button>
        </div>
        <div class="offcanvas-body p-0">
            <div class="p-4 filter-box rounded-0 border-0 shadow-none">
                <div class="row g-4 g-sm-2">
                    <div class="col-12">
                        <h5 class="mb-1 fw-medium"> By Vendor </h5>
                        <div class="filter-title"></div>
                        <div class="mt-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                                <label class="form-check-label" for="flexCheckChecked1" style="cursor: pointer;">
                                    Ck
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                                <label class="form-check-label" for="flexCheckChecked2" style="cursor: pointer;">
                                    H&M
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                                <label class="form-check-label" for="flexCheckChecked3" style="cursor: pointer;">
                                    Kalles
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked4" style="cursor: pointer;">
                                    Lavi's
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked5" style="cursor: pointer;">
                                    Monki
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked6" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked6" style="cursor: pointer;">
                                    Nike
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="mb-1 fw-medium"> By Size </h5>
                        <div class="filter-title"></div>
                        <div class="mt-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked11">
                                <label class="form-check-label" for="flexCheckChecked11" style="cursor: pointer;">
                                    S <span class="ms-1 text-muted">(9)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked21">
                                <label class="form-check-label" for="flexCheckChecked21" style="cursor: pointer;">
                                    M <span class="ms-1 text-muted">(12)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked31">
                                <label class="form-check-label" for="flexCheckChecked31" style="cursor: pointer;">
                                    L <span class="ms-1 text-muted">(6)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked41" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked41" style="cursor: pointer;">
                                    Xs <span class="ms-1 text-muted">(8)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked51" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked51" style="cursor: pointer;">
                                    Xl <span class="ms-1 text-muted">(25)</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked61" style="cursor: pointer;">
                                <label class="form-check-label" for="flexCheckChecked61" style="cursor: pointer;">
                                    Xxl <span class="ms-1 text-muted">(16)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- color -->
                    <div class="col-12">
                        <h5 class="mb-1 fw-medium"> By Vendor </h5>
                        <div class="filter-title"></div>
                        <div class="mt-3 filter-category">
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-black border-black p-1" type="checkbox" value="" id="colo1">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color1">
                                    Black
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-teal border-teal p-1" type="checkbox" value="" id="color2">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color2">
                                    Cyan
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-green2 p-1" type="checkbox" value="" id="color3">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color3">
                                    Green
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-cid-green border-cid-green p-1" type="checkbox" value="" id="color4">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color4">
                                    Gray
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-pink2 border-pink2 p-1" type="checkbox" value="" id="color5">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color5">
                                    Pink
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-sea border-sea p-1" type="checkbox" value="" id="color6">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color6">
                                    Sea
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-blue-dark border-blue-dark p-1" type="checkbox" value="" id="color7">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color7">
                                    Blue
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-red border-red p-1" type="checkbox" value="" id="color8">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color8">
                                    red
                                </label>
                            </div>
                            <div class="round d-flex align-items-center pt-2 mb-2 gap-1">
                                <input class="form-check-input bg-orange p-1 border-orange" type="checkbox" value="" id="color9">
                                <label class="form-check-label ms-1" style="cursor: pointer;" for="color9">
                                    Orange
                                </label>
                            </div>
                        </div>
                    </div>


                           <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/store.js' %}"></script>
    <script src="{% static 'assets/libs/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/alpinejs/cdn.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/product-slider.init.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>

    <script src="{% static 'assets/libs/flickity/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>


</body>
</html>