{% load static %}

<!--head banner-->


    <!--end head banner-->
    <div id="kalles-section-header_top" class="cosmetics-navbar">
        <nav class="navbar navbar-expand-lg navbar-custom py-0 d-flex align-items-center">
            <div class="container w-100 d-inline-block">
                <div class="row align-items-center">
                    <div class="col-lg-5 col">
                        <a class="d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                <rect width="30" height="1.5"></rect>
                                <rect y="7" width="20" height="1.5"></rect>
                                <rect y="14" width="30" height="1.5"></rect>
                            </svg>
                        </a>
                        <div class="d-none d-lg-block nt-social">
                            <a href="#!"><i class="facl facl-facebook"></i></a>
                            <a href="#!"><i class="facl facl-twitter"></i></a>
                            <a href="#!"><i class="facl facl-instagram"></i></a>
                            <a href="#!"><i class="facl facl-linkedin"></i></a>
                            <a href="#!"><i class="facl facl-pinterest"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col">
                        <div class="text-center">
                            <a class="navbar-brand mx-auto" href="index.html">
                                <img src="{% static 'assets/images/home-cosmetics/logo1-removebg-preview.png' %}" alt="Logo" style="width:90px; height:90px;">


                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col">
                        <div class="topbar-toolbar ms-auto d-flex align-items-center gap-3 justify-content-end cosmetics-header">
                            <a href="#!" role="presentation" data-bs-toggle="modal" data-bs-target="#searchModal">
                                <i class="iccl iccl-search"></i>
                            </a>
                            <a class="d-none d-md-block" data-bs-toggle="offcanvas" href="#accountOffcanvas" aria-controls="accountOffcanvas"><i class="iccl iccl-user"></i></a>
                            <a href="#!" class="d-none d-md-block"><i class="iccl iccl-heart"></i><span class="tcount bg-lima text-white rounded-circle d-flex align-items-center justify-content-center"></span></a>
                            <a data-bs-toggle="offcanvas" href="#shoppingCartOffcanvas" aria-controls="shoppingCartOffcanvas"><i class="iccl iccl-cart"></i><span class="tcount bg-lima text-white rounded-circle d-flex align-items-center justify-content-center"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
         <div class="container">
            <div class="navbar-collapse " id="navbarSupportedContent">
                <div class="d-none d-lg-block mx-auto">
                    <ul class="navbar-nav justify-content-center cosmetics-header">
                        <li class="nav-item dropdown dropdown-mega-3xl">
                            <a class="nav-link position-relative text-danger" href="{% url 'home' %}">
                             HOME
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega-xxl">
                            <a class="nav-link position-relative text-danger" href="{% url 'product' %}">
                                PRODUCTS
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega-3xl">
                             <a class="nav-link position-relative text-danger" href="{% url 'about' %}">
                              ABOUT US
                             </a>

                        <li class="nav-item dropdown dropdown-mega-lg">
                            <a class="nav-link position-relative text-danger" href="{% url 'contact' %}">
                                CONTACT US
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
