{% load static %}

<!--head banner-->
    <div x-data="{ isOpen: true }" class="topbar-cosmetics">
            <div class="t_header fs-13 d-flex align-items-center" x-bind:class="{ 'd-none': !isOpen }">
                    <div class="container">
                            <div class="row">
                                    <div class="col text-white text-center text-lg-start">
                                            Start earning Octopus Rewards points when you shop! <a href="#!" class="main_link_white_lima text-white fw-medium">JOIN NOW</a>
                                    </div>
                                    <div class="col-auto d-none d-lg-block">
                                            <div class="dropdown text-end position-relative">
                                                    <a href="#!" class="fs-12 text-white currency-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <img src="assets/images/svg/usd.svg" alt="" height="12" class="me-1"> USD
                                                             <i class="facl facl-angle-down ms-1"></i>

                                                    </a>
                                                   <ul class="dropdown-menu p-3 dropdown-currency">
    <li><a href="#!">
        <img src="{% static 'assets/images/svg/aud.svg' %}" alt="" height="12" class="me-1"> AUD
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/cad.svg' %}" alt="" height="12" class="me-1"> CAD
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/dkk.svg' %}" alt="" height="12" class="me-1"> DKK
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/eur.svg' %}" alt="" height="12" class="me-1"> EUR
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/gbp.svg' %}" alt="" height="12" class="me-1"> GBP
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/hkd.svg' %}" alt="" height="12" class="me-1"> HKD
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/jpy.svg' %}" alt="" height="12" class="me-1"> JPY
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/nzd.svg' %}" alt="" height="12" class="me-1"> NZD
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/sgd.svg' %}" alt="" height="12" class="me-1"> SGD
    </a></li>

    <li><a href="#!">
        <img src="{% static 'assets/images/svg/usd.svg' %}" alt="" height="12" class="me-1"> USD
    </a></li>
</ul>

                                            </div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>

    <!--end head banner-->
    <div id="kalles-section-header_top" class="cosmetics-navbar">
        <nav class="navbar navbar-expand-lg navbar-custom py-0 d-flex align-items-center">
            <div class="container w-100 d-inline-block">
                <div class="row align-items-center">
                    <div class="col-lg-5 col">
                        <a class="d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
                                <rect width="30" height="1.5"></rect>
                                <rect y="7" width="20" height="1.5"></rect>
                                <rect y="14" width="30" height="1.5"></rect>
                            </svg>
                        </a>
                        <div class="d-none d-lg-block nt-social">
                            <a href="#!"><i class="facl facl-facebook"></i></a>
                            <a href="#!"><i class="facl facl-twitter"></i></a>
                            <a href="#!"><i class="facl facl-instagram"></i></a>
                            <a href="#!"><i class="facl facl-linkedin"></i></a>
                            <a href="#!"><i class="facl facl-pinterest"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col">
                        <div class="text-center">
                            <a class="navbar-brand mx-auto" href="index.html">
                                <img src="{% static 'assets/images/home-cosmetics/logo1-removebg-preview.png' %}" alt="Logo" style="width:90px; height:90px;">


                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col">
                        <div class="topbar-toolbar ms-auto d-flex align-items-center gap-3 justify-content-end cosmetics-header">
                            <a href="#!" role="presentation" data-bs-toggle="modal" data-bs-target="#searchModal">
                                <i class="iccl iccl-search"></i>
                            </a>
                            <a class="d-none d-md-block" data-bs-toggle="offcanvas" href="#accountOffcanvas" aria-controls="accountOffcanvas"><i class="iccl iccl-user"></i></a>
                            <a href="#!" class="d-none d-md-block"><i class="iccl iccl-heart"></i><span class="tcount bg-lima text-white rounded-circle d-flex align-items-center justify-content-center">3</span></a>
                            <a data-bs-toggle="offcanvas" href="#shoppingCartOffcanvas" aria-controls="shoppingCartOffcanvas"><i class="iccl iccl-cart"></i><span class="tcount bg-lima text-white rounded-circle d-flex align-items-center justify-content-center">5</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
         <div class="container">
            <div class="navbar-collapse " id="navbarSupportedContent">
                <div class="d-none d-lg-block mx-auto">
                    <ul class="navbar-nav justify-content-center cosmetics-header">
                        <li class="nav-item dropdown dropdown-mega-xxl">
                            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                Demo
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-mega-xxl">
                            <a class="nav-link position-relative" href="shop-filter-sidebar.html" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop <span class="badge bg-teal fw-normal"></span>
                            </a>
                        </li>

                        <li class="nav-item dropdown dropdown-mega-3xl">
                            <a class="nav-link position-relative text-danger" href="shop-filter-sidebar.html" data-bs-toggle="dropdown" aria-expanded="false">
                                Sale <span class="badge bg-warning fw-normal"></span>
                            </a>
                                    <div class="col-lg-12">
                                        <!-- Swiper -->

                                                </div><!--end slide-->

                        <li class="nav-item dropdown dropdown-mega-lg">
                            <a class="nav-link" href="portfolio-3-columns.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Portfolio
                            </a>

                        </li>
                        <li class="nav-item dropdown dropdown-mega-lg">
                            <a class="nav-link" href="portfolio-3-columns.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Lookbook
                            </a>


                    </ul>
                </div>
            </div>
        </div>
    </div>
